/**
 * Form Generator configuration style file.
 * Ovveride in your style var
 */

// Main color (link)
$FGMainColor: #DC2626;

// Checkbox
$FGCheckboxTextPaddingLeft: 45px;
$FGCheckboxBackround: #2563EB;